WEB_CLIENT=http://localhost:5173
SECRET=biribiribestgirl
DATABASE_URL=postgresql://root@localhost:26257/mikoto
MINIO=http://minio:password@localhost:9000/mikoto
LIVEKIT_SERVER=ws://localhost:7880

# MAIL
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USER=user
MAIL_PASS=password
MAIL_FROM=system@mikoto.io

MIKOTO_AUTH=http://localhost:9500
MIKOTO_API=http://localhost:3510