{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrderSeparation": true,
  "importOrder": [
    "^(reflect-metadata)|(dotenv/config)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
