:2100 {
    reverse_proxy http://localhost:5173
    # TODO: stop hardcoding this
    route /auth* {
        uri strip_prefix /auth
        reverse_proxy http://localhost:9500
    }
    
    handle_path /socket.io* {
        rewrite * /socket.io{path}
		reverse_proxy http://localhost:3510
    }

    route /media* {
        uri strip_prefix /media
        reverse_proxy http://localhost:9501
    }
}


