RUST_LOG="superego=info"
PORT=3510

# Services
DATABASE_URL=postgresql://postgres:postgres@localhost:35101/mikoto
REDIS_URL=redis://localhost:35102

# JWT
SECRET=biribiribestgirl
ISSUER=test.mikoto.io

# Captcha
CAPTCHA_PROVIDER=disabled
CAPTCHA_URL="<not needed yet>"
CAPTCHA_SECRET="<not needed yet>"

WEB_URL=http://localhost:3510

S3_ACCESS_KEY=minio
S3_SECRET_KEY=password
S3_ENDPOINT=localhost
S3_PORT=35103
S3_BUCKET=mikoto
S3_USE_SSL=false