<h1>Verify Your Mikoto Account</h1>

<p>Hi, {{name}}, Welcome! Before getting started, please confirm your email address by clicking the link below.</p>
<br>
<p><a href="{{verificationLink}}">Verify Email</a></p>
<br>
<p>If you did not create an account, no further action is required.</p>
<br>
<br>